h1 {
  margin: 1rem 0;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  button {
    color: $w;
    background-color: $blue;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
  }
}

#map {
  margin: 1.5rem auto;
  width: 90%;
  height: 45rem;
  border: solid;
}

ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
