h1 {
  margin: 1.5rem 0;
  text-align: center;
}

#distance {
  margin: 2rem 0;
  text-align: center;
}

ul {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  div {
    label {
      margin-right: 0.3rem;
    }
    input {
      padding: 0.5rem;
      border-radius: 1rem;
    }
  }

  #submit {
    color: $w;
    font-weight: bold;
    background-color: $blue;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
  }
}

#map {
  margin: 3rem auto;
  width: 70%;
  height: 30rem;
  border: solid;
}
